*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-image: url(a1937fa703641b33e55ff4cd4d9ccfae.jpg);
   background-size: cover;
    color: rgb(225, 232, 235);
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    display: flex;
    border-radius: 100px;
      text-shadow: 0 0 10px  rgb(24, 6, 6);
    
    
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #25545c80;
}

.title {
    font-size: calc(10px + 3vw);
}

.title p {
    font-size: calc(10px + 1vw);
}

.countdown{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown h1{
    font-size: calc(10px + 8vw);
    text-shadow: 0 0 10px  rgb(24, 6, 6);
}

.button{
    background-color: rgb(255, 254, 254);
    color: black;
    padding: 10px;
    cursor: pointer;
    border: solid 2px rgb(2, 0, 0);
}

.button:hover {
    background-color: rgb(219, 222, 223);
    color: whitesmoke;
}